{% block body %}
    <meta http-equiv="Content-Language" content="th" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <div style="text-align: center">
        <img style="border-radius: 4px 4px 0 0; width: 100%; height: 100px; max-width: 600px;" src="/media/_default/mailer/header.png">
    </div>
    <div style="width: 100%; max-width: 600px; margin-left: auto; margin-right: auto; background-color: white; box-shadow: 0 3px 6px rgba(0,0,0,0.23); text-align: center;">
        <div style="padding: 30px 20px;">
            <div style="text-align: center">
                <img style="border-radius: 4px 4px 0 0; width: 100px; height: 100px; max-width: 600px;" src="/media/_default/mailer/mail_icon.png">
            </div>
            <div style="margin-bottom: 15px;">
                <div style="font-size: 20px; font-weight: bold;">Email address confirmed failed.</div>
                <div style="font-size: 20px; font-weight: bold;">ยืนยันที่อยู่อีเมลล้มเหลว</div>
                <br><hr>
            </div>
            <br><br>
            For more information please contact us at <br> support@carbonwallet.com or Tel. (+66)2-000-0000
            <br><br>
            Please do not reply to  this message, This email was sent from a notification-only
            email address that can't accept any incoming email, Please contact customer support by using the provided method.
            <br>
            หากคุณตอบกลับอีเมลนี้ เราจะไม่ได้รับข้อความของคุณ เนื่องจากอีเมลนี้เป็นระบบส่งการแจ้งเตือนเท่านั้น โปรดติดต่อฝ่ายบริการลูกค้าตามช่องทางที่เราจัดไว้ให้.
    </div>
{% endblock %}