{% extends "console/base.html" %}

{% block content %}

    <h1>Key: {{ key }}</h1>

    <div class="container">
    <a href="{% url 'console:cache-delete' %}?key={{ key }}" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Delete</a>
    <table class="table table-bordered table-hover table-sm">

  <tbody>
    <tr>
      <td>Key</td>
      <td>{{ key }}</td>

    </tr>
  <tr>
      <td>Value</td>
      <td>{{ val }}</td>

    </tr>
  </tbody>
</table>

    </div>
{% endblock %}