{% block head %}
    <title>Payment Verification in process</title>
{% endblock %}
{% block body %}
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">
    <meta http-equiv="Content-Language" content="th" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <div style="text-align: center">
        <img style="border-radius: 4px 4px 0 0; width: 100%; height: 100px; max-width: 600px;" src="{{ header_image }}">
    </div>
    <div
        style="font-family: Roboto, sans-serif; width: 100%; max-width: 600px; margin-left: auto; margin-right: auto; background-color: white; box-shadow: 0 3px 6px rgba(0,0,0,0.23); text-align: center; display: flex; justify-content: center;">
        <div style="width: 100%; max-width: 400px; padding: 30px 20px;">
            <div style="text-align: center">
                <img style="border-radius: 4px 4px 0 0; width: 100px; height: 100px; max-width: 600px;" src="{{ mail_icon }}">
            </div>
            <div style="margin-bottom: 15px;">
                <div style="font-size: 18px; font-weight: 500;">Payment verification is in process</div>
                <div style="margin-top: 8px; font-size: 18px; font-family: Noto Sans Thai, sans-serif;">
                    การชำระเงินอยู่ในระหว่างการตรวจสอบ</div>
                <br>
                <hr style="width: 263px; opacity: 0.3;">
                <div style="font-size: 14px; margin-top: 20px;">
                    Your payment verification is in process. We will send you an email as soon as your payment slip has been approved.
                    <div style="margin-top: 8px; font-family: Noto Sans Thai, sans-serif;">
                        การชำระเงินของคุณอยู่ในระหว่างการตรวจสอบ เราจะส่งอีเมลถึงคุณทันทีที่การชำระเงินได้รับการอนุมัติ
                    </div>
                </div>
            </div>
            <hr style="margin-top: 24px; width: 80px; opacity: 0.3;">
             <div style="margin-top: 24px; font-size: 14px;">
                For more information please contact us at <br> <span style="color: #4678D8;">support@carbonwallet.com</span> or Tel. <span style="color: #4678D8;">(+66)2-714-2490</span>
            </div>
            <div style="margin-top: 24px; font-size: 14px; color:#979797;">
                Please do not reply to this message, This email was sent from a notification-only
                email address that can't accept any incoming email, Please contact customer support by using the
                provided method.
                <div style="margin-top: 8px; font-family: Noto Sans Thai, sans-serif;">
                    หากคุณตอบกลับอีเมลนี้ เราจะไม่ได้รับข้อความของคุณ เนื่องจากอีเมลนี้เป็นระบบส่งการแจ้งเตือนเท่านั้น
                    โปรดติดต่อฝ่ายบริการลูกค้าตามช่องทางที่เราจัดไว้ให้
                </div>
            </div>
        </div>
    </div>
{% endblock %}