<body style="background-color: whitesmoke; font-family: 'Kanit', sans-serif;" >
    <div style="width: 100%; max-width: 600px; margin-left: auto; margin-right: auto; background-color: white; box-shadow: 0 3px 6px rgba(0,0,0,0.23);">
        {% block header %}
        <div style="background-color: #00a8e8; color: white; padding: 15px; height: 90px;">
            <img style="border-radius: 4px 4px 0 0;" src="{{ header_image }}" width="600">
        </div>
        {% endblock %}

        {% block body %}
        {% endblock %}

        {% block footer %}
        {% endblock %}
    </div>
</body>