<body style="background-color: whitesmoke; font-family: Arial;font-size: 16px;">
<div style="width: 100%; max-width: 600px; margin-left: auto; margin-right: auto; background-color: white; box-shadow: 0 3px 6px rgba(0,0,0,0.23);">

    <img style="border-radius: 4px 4px 0 0;" src="{{ header_image }}" width="600" alt="Banner image">
    <div style="background-color: whitesmoke; width: 100%; max-width: 674px; margin: auto">

        <div style="width: 100%; padding: 30px; border-radius: 0 0 4px 4px; background-color: #ffffff; box-sizing: border-box;">
            <h1 style="margin-top: 0;font-size: 24px;">OTP Verification</h1>
            <p>Your verification code is:</p>
            <p style="text-align: center;">
                <strong style="font-size: 40px;">{{ token }}</strong>
            </p>
            <p style="margin-top: 40px;">Here is your OTP verification code.
                please input your OTP before verification time is out.</p>
        </div>
    </div>

</div>
</body>